.wrapper {
    background-color: #000000;
}

.nav_link {
    font-family: Raleway;
    font-size: 18px;
    line-height: 21.09px;
    text-align: left; 
    color: #ffffff; 
} 

.account_link {
    font-family: Raleway;
    font-size: 17px;
    line-height: 21px;
    text-align: left;
    color: #ffffff;
}

.social_text {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    color: #ffffff;
}

.mountains_title {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 6px;
    text-align: left;
    color: #FBD784;
}

.prepared_title {
    font-family: Roboto;
    font-size: 88px;
    font-weight: 600;
    line-height: 100px;
    text-align: left;
    color: #ffffff;
}

.prepared_text {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    color: #ffffff;
}

.start_text {
    font-family: Raleway;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
}

/* level styles */

.opacity_number {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 6px;
    text-align: left;
    color: #FBD784;    
}

.level_text {
    font-family: Roboto;
    font-size: 64px;
    font-weight: 600;
    line-height: 77px;
    text-align: left;
    color: #ffffff;    
}

.prepared_title {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #ffffff;   
}

.prepared_text {
    font-family: Raleway;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    color: #FBD784;    
}

/*level styles */

.opacity_number {
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    line-height: 22.05px;
    letter-spacing: 6px;
    text-align: left;
    color: #FBD784;
}

.level_text {
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    line-height: 22.05px;
    letter-spacing: 6px;
    text-align: left;
    color: #FBD784;
}

.level_title {
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #ffffff;
}

.level_sub_text {
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #ffffff;
}

.last_text {
    font-family: Gilroy;
    font-size: 18px;
    line-height: 21.76px;
    text-align: left;
    color: #FBD784;
}

/* hiking styles */

.number_text {
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    line-height: 22.05px;
    letter-spacing: 6px;
    text-align: left;
    color: #FBD784;
}

.hiking_text {
    font-family: Chronicle Display;
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
    text-align: left;
    color: #ffffff;
}

/* key styles */

.key_one_text {
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    line-height: 22.05px;
    letter-spacing: 6px;
    text-align: left;
    color: #FBD784;
}

.key_text {
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    line-height: 22.05px;
    letter-spacing: 6px;
    text-align: left;
    color: #FBD784;   
}

.key_title {
    font-family: Chronicle Display;
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
    text-align: left;
    color: #ffffff;
}

.key_sub_text {
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #ffffff;
}

/* footer styles */

.footer_text {
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #ffffff;
}

.footer_sub_text {
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: gray;
}

.middle_title {
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #FBD784;
}

.middle_link {
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: #ffffff;
}

.right_title {
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #FBD784; 
}

.right_link {
    
}








